<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Font Awesome -->
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/backend-plugin.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/backend.css?v=1.0.0') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/remixicon/fonts/remixicon.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/backend-bundle.min.js') }}"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
